@model JustSell.Models.Company


<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Id" hidden />
	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					<h2 class="text-primary">@(Model.Id != 0 ? "編輯" : "新增") 公司</h2>
					<hr />
				</div>
				<div asp-validation-summary="All"></div>
				<div class="mb-3">
					<label asp-for="Name">公司名稱</label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Address">公司地址</label>
					<input asp-for="Address" class="form-control" rows="3"></input>
					<span asp-validation-for="Address" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="City">縣市</label>
					<input asp-for="City" class="form-control" />
					<span asp-validation-for="City" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="PostalCode">郵遞區號</label>
					<input asp-for="PostalCode" class="form-control" />
					<span asp-validation-for="PostalCode" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="PhoneNumber">連絡電話</label>
					<input asp-for="PhoneNumber" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>


				<div class="col-12">
					@if (Model.Id != 0)
					{
						<button type="submit" class="btn btn-primary" style="width:150px">更新</button>
					}
					else
					{
						<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">建立</button>
					}

					<a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">
						回到列表
					</a>
				</div>

			</div>
		</div>

	</div>

</form>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}

