@model IEnumerable<Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">所有商品類別</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>&nbsp新增類別
            </a>
        </div>
    </div>
    <br />
    <br />
</div>



<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                商品類別
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>

                <td>
                    <div class="m-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> 修改</a>
                    </div>
                    <div class="m-75 btn-group" role="group">
                        <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                            <button class="btn btn-danger mx-2"><i class="bi bi-x-square-fill"></i> 刪除</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>